/*
* {
    border: 1px solid red;
}
 */

:root {
    --header-size: 145px;
}


body {
    background-color: var(--main-bg-color);
    /*background-color: #FFFFFF;*/
    color: #2a2a2a;
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}

a {
    color: #f44600;
}



main {
    margin: var(--header-size) auto auto;
    width: 80%;
    padding: 2%;
    min-height: 80vh;
}

header {
    box-shadow: 4px 4px 5px rgba(0,0,0,0.7);
}

.menu {
    display: flex;
}

.menu-item {
    flex-grow: 1;
    text-align: center;
    list-style-type: none;
}

.menu-item > a {
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    color: white;
    background-color: #f44600;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.7);
}

.menu-item > a:hover {
    color: white;
    background-color: #ff8d68;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.7);
}


.logo {
    color: white;
}




.container {

}

.parent-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.item {
    display: block;
    order: integer;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;

    background-color: #e6e6e6;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.5);

    margin: 10px;
    padding: 20px;

}



/*.main {*/
/*     background-color: #170c00;*/
/*     display: block;*/

/*     margin: 0 auto;*/

/*     padding: 100px;*/

/*     width: 70%;*/
/*     height: auto;*/
/*     min-height: 50vh;*/
/* }*/

.header {
    background-color: #212529;
    display: block;

    margin: 0 auto;

    --header-padding: 20px;
    padding: var(--header-padding);

    width: calc(100% - 2 * var(--header-padding));
    height: auto;

    position: fixed;
    top: 0;
    z-index: 2; /* Stay on top */
}

/*.page {*/
/*    background-color: #2a2a2a;*/
/*    display: block;*/

/*    margin: 0 auto;*/


/*    padding: 100px;*/

/*    width: auto;*/
/*    height: auto;*/
/*}*/

.footer {
    background-color: #212529;
    display: inline-block;
    color: white;

    margin: 0 auto;

    padding: 20px 100px;

    width: calc(100% - 2 * 100px);
    height: auto;
}